body {
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main .background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}

.main .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
}

.main .container .title {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    flex: 1;
}

.main .container .mockup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    object-fit: cover;
    z-index: 999;
    pointer-events: none;
}

.main .container .subtitle {
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    flex: 1;
}

.typing-container-title {
    display: inline-block;
    width: 19ch;
    text-align: left;
    max-width: 100%;
}

.typing-text-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0 solid transparent;
    width: 0;
    animation: typing-title 12.8s steps(19, end) infinite, blink-caret .75s step-end infinite;
}

.typing-container-subtitle {
    display: inline-block;
    width: 55ch;
    text-align: left;
    max-width: 100%;
}

.typing-text-subtitle {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0 solid transparent;
    width: 0;
    animation: typing-subtitle 12.8s steps(55, end) infinite, blink-caret .75s step-end infinite;
}

@keyframes typing-title {
    0% {
        width: 0;
        border-right-width: 0.15em;
    }

    15.625% {
        width: 19ch;
        border-right-width: 0.15em;
    }

    15.630% {
        width: 19ch;
        border-right-width: 0;
    }

    93.740% {
        width: 19ch;
        border-right-width: 0;
    }

    93.750% {
        width: 19ch;
        border-right-width: 0.15em;
    }

    100% {
        width: 0;
        border-right-width: 0.15em;
    }
}

@keyframes typing-subtitle {
    0% {
        width: 0;
        border-right-width: 0;
    }

    15.620% {
        width: 0;
        border-right-width: 0;
    }

    15.625% {
        width: 0;
        border-right-width: 0.15em;
    }

    58.594% {
        width: 55ch;
        border-right-width: 0.15em;
    }

    58.600% {
        width: 55ch;
        border-right-width: 0;
    }

    82.020% {
        width: 55ch;
        border-right-width: 0;
    }

    82.031% {
        width: 55ch;
        border-right-width: 0.15em;
    }

    93.750% {
        width: 0;
        border-right-width: 0.15em;
    }

    93.760% {
        width: 0;
        border-right-width: 0;
    }

    100% {
        width: 0;
        border-right-width: 0;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.slider-container {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.slider-track {
    display: flex;
    width: max-content;
    animation: scroll 100s linear infinite;
}

.slider-track:hover {
    animation-play-state: paused;
}

.slider-group {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-right: 60px;
}

.slider-group img {
    height: 40px;
    object-fit: contain;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}